{{ $id := .Get "id" }}
{{ $caption := .Get "caption" }}

<figure class="video-figure">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
        <iframe src="//player.bilibili.com/player.html?bvid={{ $id }}&page=1" 
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                frameborder="0" 
                allowfullscreen>
        </iframe>
    </div>
    {{ with $caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>